.container{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.navbar ul li{
  list-style: none;
}
.navbar ul{
  display: flex;
  gap: 20px;

}
.login{
  margin-right: 20px;
  width: 100px;
}